.user-page-header-container {
  height: 200px;
  border: 1px solid red;
}

.user-information {
  width: 100%;
  height: 100%;
  background-color: rgb(27, 27, 27, 0.25);
  display: flex;
  flex-direction: row;
}

.user-profile {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.user-profile-icon-container {
  width: 80%;
  justify-self: flex-end;
}

.user-profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.user-profile-title {
  font-size: 32px;
  color: white;
}

.user-profile-username {
  font-size: 18px;
  color: white;
}

.user-details {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
}
