.user-page-header-container {
  height: 200px;
}

.user-page-cover-photo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.user-page-cover-photo > img {
  object-fit: cover;
  z-index: -10;
}

.user-information {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  background-color: rgb(27, 27, 27, 0.25);
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 10;
}

.user-profile {
  width: 40%;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.user-profile-icon-container {
  width: 40%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding-right: 40px;
}

.user-profile-icon-container > img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.user-profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 30%;
}

.user-profile-title {
  font-size: 32px;
  color: white;
}

.user-profile-username {
  font-size: 18px;
  color: white;
}

.user-details {
  width: 30%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  color: white;
  padding: 16px 0px 16px 0px;
}

.user-details > p {
  line-height: 3px;
}

.bio-text {
  display: inline-flex;
  align-items: center;
  margin: 0;
}

.bio-text > span {
  font-style: italic;
  font-size: 14px;
  margin-left: 10px;
}
