.user-page-header-container {
  height: 200px;
}

.user-page-cover-photo {
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.user-page-cover-photo > img {
  object-fit: cover;
  z-index: -10;
}

.user-information {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 200px;
  background-color: rgb(27, 27, 27, 0.25);
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.user-profile {
  width: 50%;
  padding: 20px;
  display: flex;
  flex-direction: row;
}

.user-profile-icon-container {
  width: 80%;
  justify-self: flex-end;
}

.user-profile-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
}

.user-profile-title {
  font-size: 32px;
  color: white;
}

.user-profile-username {
  font-size: 18px;
  color: white;
}

.user-details {
  width: 50%;
  /* height: 70%; */
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: white;
  padding: 16px 0px 16px 0px;
}

.user-details > p {
  line-height: 3px;
}
