.image-zoom-container {
  max-height: 93vh;
  max-width: 88vw;
}

.image-zoom-container > img {
  height: 100%;
  width: 100%;
}

.image-footer-container {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.image-footer-container > span {
  color: rgb(235, 235, 235);
  font-style: italic;
  font-size: 14px;
  margin-left: 13px;
  margin-right: 13px;
}
