.splash-footer {
  position: absolute;
  bottom: 0;
  background-color: rgb(27, 27, 27);
  color: hsla(0, 0%, 100%, 0.6);
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 5%;
  /* overflow: hidden; */
}

.splash-footer > img {
  width: 24px;
  height: 24px;
  color: gray;
}

.splash-footer > img:hover {
  cursor: pointer;
}
