.upload-container {
  position: absolute;
  top: 75px;
  display: flex;
  justify-content: center;
}

.upload-container > form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.no-back {
  margin-top: 50px;
  background-color: rgb(238, 238, 238);
  border: none;
}

.black {
  color: black;
  background-color: rgb(238, 238, 238);
  font-size: 100px;
}
