.user-page-container {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 95vh;
}

.user-page-body {
  margin: 60px;
}

.empty-photo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
