body {
  margin: 0;
  text-decoration: none;
  background-color: rgb(238, 238, 238);
}

* {
  font-family: "Proxima Nova Regular";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.errors-container {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  width: 80%;
}

.error {
  color: red;
  font-size: 14px;
}

button:hover,
a:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("/public/fonts/ProximaNovaFont.otf");
}
