body {
  margin: 0;
  text-decoration: none;
  background-color: rgb(238, 238, 238);
}

* {
  font-family: "Proxima Nova Regular";
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.errors-container {
  display: flex;
  justify-content: center;
  padding: 0 30px;
  width: 80%;
}

.error {
  color: rgb(165, 86, 86);
  font-size: 14px;
}

button {
  background-color: #62b5c0d2;
  border: 1px solid #62b5c0d2;
}

button .disabled {
  background-color: #a4ccd2d2;
  border: 1px solid #a4ccd2d2;
  color: rgb(132, 132, 132);
}

button:hover,
a:hover {
  cursor: pointer;
}

@font-face {
  font-family: "Proxima Nova Regular";
  src: url("/public/fonts/ProximaNovaFont.otf");
}
