.single-image-body-container {
  position: absolute;
  top: 70px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.image-container > img:hover {
  cursor: zoom-in;
}

.image-container > i {
  position: absolute;
  font-size: 22px;
  color: gray;
}

.image-container > i:nth-child(1) {
  top: 10px;
  right: 20px;
}

.image-container > i:nth-child(2) {
  top: 40px;
  right: 23px;
}

.image-container > i:hover {
  color: rgb(192, 192, 192);
}

.image-container {
  height: 800px;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.image-information-container {
  position: absolute;
  top: 800px;
  width: 80%;
  height: fit-content;
  /* border: 1px solid red; */
}

.image-details {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.profile-container {
  margin-top: 20px;
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.profile-inner-container {
  display: flex;
  flex-direction: row;
}

.profile-picture {
  width: 120px;
  height: 120px;
}
.profile-picture > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.profile-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.profile-details > a:link,
.profile-details > a:visited {
  color: #006dac;
}

.picture-tags {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
}

.picture-tags > button {
  border-radius: 25px;
  display: inline-block;
  text-align: center;
  height: 35px;
  margin-left: 5px;
  background-color: rgb(188, 187, 187);
  color: white;
  border: 1px solid rgb(188, 187, 187);
}

.engagement-container {
  width: 40%;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.favorite-details {
  margin-top: 10px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.favorite-details > span {
  margin-left: 7px;
  text-align: center;
  font-weight: bold;
}

.comment-container {
  margin-top: 10px;
  width: 100%;
  height: fit-content;
  /* border: 1px solid pink; */
}

.comment {
  display: flex;
  flex-direction: row;
  height: 50px;
  width: 100%;
}

.comment-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 80%;
}

.comment-details > a,
.comment-details > p {
  font-size: 14px;
  line-height: 5px;
  margin: 7px;
}

.comment-details > a:link,
.comment-details > a:visited {
  color: #006dac;
}

.add-comment-btn {
  width: 100%;
  height: 40px;
  margin-top: 10px;
  margin-bottom: 30px;
}

.comment-icons {
  display: flex;
  justify-content: flex-end;
  padding: 10px;
  width: 30%;
}

.comment-icons > i {
  margin-right: 7px;
  color: rgb(192, 192, 192);
}

.comment-icons > i:hover {
  color: rgb(101, 101, 101);
}
